version: "4.3.0"

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - contacts

definitions:
  # Authentication
  oauth_authenticator:
    type: OAuthAuthenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    token_refresh_endpoint: "https://api.example-crm.com/oauth/token"
    grant_type: refresh_token
    refresh_token_updater:
      refresh_token_name: refresh_token
      access_token_config_path:
        - credentials
        - access_token
      refresh_token_config_path:
        - credentials
        - refresh_token
      token_expiry_date_config_path:
        - credentials
        - token_expiry_date

  # Error Handling
  error_handler:
    type: DefaultErrorHandler
    max_retries: 5
    backoff_strategies:
      - type: ExponentialBackoffStrategy
        factor: 2
    response_filters:
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 429
          - 500
          - 502
          - 503
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 401
          - 403
        error_message: "Authentication failed. Please check your credentials."
        failure_type: config_error

  # Pagination
  cursor_paginator:
    type: DefaultPaginator
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: cursor
    pagination_strategy:
      type: CursorPagination
      page_size: 100
      cursor_value: "{{ response['pagination']['next_cursor'] }}"
      stop_condition: "{{ response['pagination']['has_more'] is false }}"

  # Incremental Sync
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: updated_at
    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    cursor_granularity: PT1S
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
    start_time_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: updated_after
    end_time_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: updated_before
    step: P7D
    lookback_window: P1D

  # Base Components
  base_requester:
    type: HttpRequester
    url_base: "https://api.example-crm.com/v2"
    http_method: GET
    authenticator:
      $ref: "#/definitions/oauth_authenticator"
    error_handler:
      $ref: "#/definitions/error_handler"
    request_headers:
      Accept: application/json
      X-API-Version: "2024-01"

  base_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    paginator:
      $ref: "#/definitions/cursor_paginator"

  # Stream Definitions
  contacts_stream:
    type: DeclarativeStream
    name: contacts
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /contacts
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type: string
          email:
            type: string
          first_name:
            type: string
          last_name:
            type: string
          company_id:
            type: string
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
          tags:
            type: array
            items:
              type: string
          custom_fields:
            type: object
            additionalProperties: true

  companies_stream:
    type: DeclarativeStream
    name: companies
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /companies
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type: string
          name:
            type: string
          domain:
            type: string
          industry:
            type: string
          employee_count:
            type: integer
          annual_revenue:
            type: number
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time

  deals_stream:
    type: DeclarativeStream
    name: deals
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /deals
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - deal_age_days
            value: "{{ (now_utc() - str_to_datetime(record['created_at'])).days }}"
      - type: RemoveFields
        field_pointers:
          - - internal_notes
          - - metadata
            - debug_info
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type: string
          title:
            type: string
          amount:
            type: number
          currency:
            type: string
          stage:
            type: string
          probability:
            type: number
          contact_id:
            type: string
          company_id:
            type: string
          owner_id:
            type: string
          expected_close_date:
            type: string
            format: date
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
          deal_age_days:
            type: integer

streams:
  - $ref: "#/definitions/contacts_stream"
  - $ref: "#/definitions/companies_stream"
  - $ref: "#/definitions/deals_stream"

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/example-crm
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: OAuth
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
          token_expiry_date:
            type: string
            format: date-time
            path_in_connector_config:
              - credentials
              - token_expiry_date
      complete_oauth_server_input_specification:
        type: object
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Example CRM Source Spec
    type: object
    required:
      - credentials
      - start_date
    properties:
      credentials:
        type: object
        title: Authentication
        description: Choose how to authenticate with the API
        order: 0
        oneOf:
          - type: object
            title: OAuth2.0
            required:
              - auth_type
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: OAuth
                order: 0
              client_id:
                type: string
                title: Client ID
                description: OAuth Client ID
                airbyte_secret: true
              client_secret:
                type: string
                title: Client Secret
                description: OAuth Client Secret
                airbyte_secret: true
              refresh_token:
                type: string
                title: Refresh Token
                description: OAuth Refresh Token
                airbyte_secret: true
          - type: object
            title: API Key
            required:
              - auth_type
              - api_key
            properties:
              auth_type:
                type: string
                const: API_Key
                order: 0
              api_key:
                type: string
                title: API Key
                description: Your API Key
                airbyte_secret: true
      start_date:
        type: string
        title: Start Date
        description: UTC date and time for starting data replication
        format: date-time
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        examples:
          - "2023-01-01T00:00:00Z"
        order: 1